NET "seg[0]" LOC = "N16";
NET "seg[1]" LOC = "N15";
NET "seg[2]" LOC = "P18";
NET "seg[3]" LOC = "P17";
NET "a_to_g[0]" LOC = "L14";
NET "a_to_g[1]" LOC = "N14";
NET "a_to_g[2]" LOC = "M14";
NET "a_to_g[3]" LOC = "U18";
NET "a_to_g[4]" LOC = "U17";
NET "a_to_g[5]" LOC = "T18";
NET "a_to_g[6]" LOC = "T17";
NET "clk" LOC = "V10";
NET "reset" LOC = "T10";
NET "Nickel" LOC = "T5";
NET "Dime" LOC = "V8";
NET "Quarter" LOC = "U8";
NET "Dispance" LOC = "T11";
NET "ReturnNickel" LOC = "R11";
NET "ReturnDime" LOC = "N11";
NET "ReturnTwoDimes" LOC = "M11";
NET "Insert_money" LOC = "C9";